* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding 0;
}

nav {
  position:fixed;
  top:-50px;
  bottom:0;
  z-index: 1;
  width:13%;
  min-width: 150px;
  max-width: 185px;
  background-color: #5F021F;
  overflow-y:auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li:hover {
  background-color: #990033;
}

nav ul li a {
  display: block;
  text-align: center;
  color: white;
  padding-top: 80px;
  padding-right: 0;
  padding-bottom: 20px;
}

nav ul li a:visited{
  color: white;
  text-decoration: none;
}

nav ul li a:hover{
  color: white;
  text-decoration: none;
}

.li0 {
  font-size: 14pt;
  font-weight: bolder;
  font-style: italic;
}

.li0:hover {
  background-color: #5F021F; !important
  text-decoration: none;
}

.li1 {
  background: url('../img/dashboard1.png');
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.li2 {
  background: url('../img/door1.png');
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.li3 {
  background: url('../img/window1.png');
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.li4 {
  background: url('../img/light1.png');
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.li5 {
  background: url('../img/temp1.png');
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.li6 {
  background: url('../img/setting1.png');
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.content {
  overflow: auto;
  /*padding-top: 50px;*/
  height: 100%;
  min-width: 1024px;
  padding-right: 15px;
  padding-left: 150px;
  margin-right: auto;
  margin-left: 3%;
}

h1 {
  text-align: center;
}
