* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding 0;
}

nav {
  position:fixed;
  top:-50px;
  bottom:0;
  z-index: 1;
  width:13%;
  min-width: 150px;
  background-color: #FFA500;
  overflow-y:auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li:hover {
  background-color: #F58025;
}

nav ul li a {
  display: block;
  text-align: center;
  font-weight: bold;
  color: black;
  padding-top: 80px;
  padding-right: 0;
  padding-bottom: 20px;
}

nav ul li a:visited{
  color: black;
  text-decoration: none;
}

nav ul li a:hover{
  color: black;
  text-decoration: none;
}

.title {
  position: fixed;
  top:0;
  left:5%;
  z-index: 0;
  width: 100%;
  min-width: 1024px;
  background-color: black;
}

.li0 {
  font-size: 14pt;
}

.li0:hover {
  background-color: #FFA500; !important
  text-decoration: none;
}

.li1 {
  background: url('../img/dashboard.png');
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.li2 {
  background: url('../img/door.png');
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.li3 {
  background: url('../img/window.png');
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.li4 {
  background: url('../img/light.png');
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.li5 {
  background: url('../img/temp.png');
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.li6 {
  background: url('../img/setting.png');
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.content {
  overflow: auto;
  margin-left: 13%;
  padding-left: 100px;
  padding-top: 50px;
  height: 100%;
  background-color: lightblue;
  min-width: 1024px;
}

h1 {
  text-align: center;
}
